<!DOCTYPE html>
<html>
    <%- include("../template/head.ejs")-%>
<body>
<%- include("../template/logo.ejs")-%>
    <h1>Item</h1>

    name: <%=item.name%> <br>
    price: <%=item.price%> <br>
    description: <%=item.description%> <br>

<%- include("../template/footer.ejs")-%>

</body>
<html>